 <!-- Header/Hero Section -->
 <header class="hero main-bg">
  <div class="container hero">
      <div class="flex">
          <div class="hero-text">
              <h1 class="blue-text">404 NOT FOUND</h1>
              <h2>Home . Pages <span class="pink-text">. 404 Not Found</span></h2>
          </div>
      </div>
  </div>
</header>

<!-- 404 error message -->
<section class="error-message">
  <img src="img/Group 197.png" alt="">
  <h2 class="main-header-text">oops! The page you requested was not found!</h2>
  <button>Back To Home</button>
</section>
