<div id="header"></div>
<section class="breadcrumb-page">
    <div class="container">
        <h2 class="title-page">FAQ</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="">Page</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="faq.html">FAQ</a></li>
            </ol>
        </nav>
    </div>
</section>